body{
    background-color: #bc8f8f;
}

header{
    background-color: #05022C;
    padding-bottom: 20px;
    background: url(../imagens/ceu.png);
}

@font-face {
    font-family: RanessaScript;
    src: url(../fontes/RanessaScript.ttf);
}

@font-face {
    font-family: Home;
    src: url(../fontes/Home.otf);
}

.logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 256px;
}

.titulo-principal{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-family: RanessaScript;
}

.titulo-secundario{
    text-align: center;
    font-size: 30px;
    padding: 15px 0;
    color: #ffffff;
    font-family: Home;
}

nav ul{
    text-align: center;
    padding-top: 20px;
}

nav li{
    display: inline;
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 30px;
}

nav a:hover{
    color: #FF83C7;
    text-decoration: overline;
}

.centro{
    width: 940px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}

.centro img{
    width: 50px;
    margin: 10px 0;
}

.centro img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.centro p{
    color: #FFFFFF;
    font-family: RanessaScript;
    font-size: 20px;
    padding-bottom: 20px;
}

footer{
    background-color: #05022C;
    margin-top: 70px;
    color: #FFFFFF;
}

.logo2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logo2 img{
    width: 90px;
    padding-top: 20px;
}

#direitos{
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}